<option value="lab">Labrador retriever</option>
<option value="german_shepherd">German shepherd</option>
<option value="golden">Golden retriever</option>
<option value="beagle">Beagle</option>
<option value="bulldog">Bulldog</option>
<option value="terrier">Yorkshire terrier</option>
<option value="boxer">Boxer</option>
<option value="poodle">Poodle</option>
<option value="rottweiler">Rottweiler</option>
<option value="dachsund">Dachshund</option>
<option value="french_bulldog">French bulldog</option>
<option value="doberman">Doberman pinscher</option>
<option value="shorthaired_pointer">German shorthaired pointer</option>
<option value="husky">Siberian husky</option>
<option value="shih_tzu">Shih Tzu</option>
<option value="dane">Great Dane</option>
<option value="schnauzer">Miniature schnauzer</option>
<option value="spaniel">Cavalier King Charles spaniel</option>
<option value="pomeranian">Pomeranian</option>
<option value="australian_shepherd">Australian shepherd</option>
<option value="sheepdog">Shetland sheepdog</option>
<option value="chihuahua">Chihuahua</option>
<option value="boston_terrier">Boston terrier</option>
<option value="corgi">Permbroke Welsh corgi</option>
<option value="havanese">Havanese</option>
<option value="other">Other</option>