<div id="form-ui">
<p>
  <select>
    <option value="">–Select price–</option>
    <option value=".price10">$10</option>
    <option value=".price20">$20</option>
    <option value=".price30">$30</option>
  </select>
  
  <select>
    <option value="">–Select size–</option>
    <option value=".small">small</option>
    <option value=".medium">medium</option>
    <option value=".large">large</option>
  </select>

  

  </p>

<p>
  <label><input type="checkbox" value=".red" /> red</label>
  <label><input type="checkbox" value=".green" /> green</label>
  <label><input type="checkbox" value=".blue" /> blue</label>
  <label><input type="checkbox" value=".orange" /> orange</label>
</p>

  <p id="output">--</p>
  
</div>

<div id="container">
  <!-- items added with JS -->
</div>