<!DOCTYPE html>
<html>
<head>
  <title>Man's Best Friend Finder</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body>


<%= yield %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNFQWiycY0m5_XsFDCDBBwpHF4BZBhNos"></script>
</body>
</html>
