// Place all the styles related to the shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th 	{
	width: 7.8%;
	height: 50px;
	border: 2.5px solid #827A74;
}

td	{
	width: 7.8%;
	height: 50px;
	border: 2.5px solid #827A74;
}

//--Add/Edit/Delete dogs forms---

.formShelter	{
	margin-left: 20px;
}

//---Show Form---

.showTable	{
	width: 50%;
}

.showListTitles	{
	background-color: #B31518;
	width: 20%;
	color: #fff;
}

.showListDetails	{
	width: 30%;
	padding-left: 10px;

}