// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---Background Section---*/
/*---Shelter Search---*/

#backgroundImage	{
	float: right;
	width: 75%;
	height: 450px;
}

#backgroundForm {
  position: absolute;
  background: #B31518;
  margin-left: 5%;
  bottom: 30px;
  padding: 20px 30px;
  width: 100%;
  max-width: 540px;
  color: #fff;
  border-radius: 10px;
  /*z-index: 8;*/
}

.searchAddress, .searchPostalCode	{
	font-size: 13px;
  color: black;
	z-index: 8;
}

.searchPostalCode	{
	width: 80px;
  height: 35px;
  border-radius: 10%;
}

#searchSendButton {
    background-color: #827A74;
    color: #fff;
    border-radius: 10%;
}

/*---Map---*/

#map-canvas {
  width: 100%; 
  height: 350px;
}

/*---Photo Gallery---*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#advSearchHeader {
  font-size: 1.4em;
  color: #827A74;
  font-style: italic;
}

#gallerySortSecondRow {
  margin-left: 10em;
}

.sortLink {
  padding-left: 2em;
}

.form-group  {
  display: inline-block;
  padding-left: .9em;
  text-align: right;
}

.sortLink, .form-control, #sel1 {
  width: 10em;
  height: 35px;
  color: #B31518;
  border: none;
}

.galleryHeader  {
  margin-right: 6px;
  margin-top: -2px;
  text-align: right;
  color: #fff;
}


.galleryPhoto {
  margin-top: -5px;
  margin-left: 5%;
  width: 90%;
  height: 130px;
  border: 1.5px solid #575E63;
}



.content ul li {
  margin-left: -10px;
  color: #B31518;
}

.galleryFilter  {
  margin-left: 10px;
  color: #B31518;
}

.galleryText {
  font-size: .9em;
  text-align: right;
  color: #fff;
}


/* ---- grid ---- */

.grid {
  margin-left: 3%;
  background: #fff;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33%;
}

.grid-item {
  float: left;

  /*---vertical gutter-----*/
  margin-bottom: 10px;
  background: #fff;
  /*border: 1px solid #333;*/
  border-radius: 5px;
}

.content	{
  cursor: pointer;
  padding-top: 3px;
  margin: 5px;
  width: 90%;
  height: 300px;
  border-radius: 2%;
  background: #827A74;
}
.grid-item--height2 { height: 250px; }
.grid-item--height3 { height: 300px; }

  /*---Pop-up Window ----*/

.popupContainer  {
  width: 550px;
}

.popupDogInfo {
  float: left;
  margin-left: 0;
}

.popupShelterInfo {
  float: right;
}

.modal-footer {
  clear: both;
}

.popupText  {
  color: #B31518;
}

.popupPhoto {
  width: 120px;
  height: 100px;
  box-shadow: 10px 10px 5px #3A3C3D;
}


/*---Sponsor side bar---*/

#sidebarSponsor	{
	/*padding-bottom: 8px;*/
}

#sponsorsH2	{
  margin-top: -15px;
  width: 85%;
	text-align: right;
	font-weight: 600;
	color: #817482;
}

.sponsorContainer	{
	margin-bottom: 15px;
	width: 85%;
	height: 220px;
	border: 1.5px solid #817482;
}

#sponsorScienceDiet	{
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
}

#sponsorScienceDietQuote	{
	margin-top: 6px;
	text-align:center;
	font-size: 1.7em;
	font-variant: small-caps;
	font-weight: 600;
	color: #003A9A;
}

#sponsorPetsRUs	{
	margin-left: 12%;
	margin-top: 5%;
}

#sponsorPurinaDogsPlaying	{
	margin: auto;
	width: 100%;
	height: 160px;
}

#sponsorPurina	{
	float: right;
}

